#highscores {
    float: left;
    margin-left: 20px;
}

#home {
    float: left;
    margin-left: 20px;
}

#timeremaining {
    float: right;
    margin-right: 20px;
    font-weight: bold;
}

#highScoreUL {
    list-style-type: none;
}

body {
text-align: center;
background-color: floralwhite;
};

button {
clear: both;
};
